body {
  background-color: #59d7b6;
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
}

small {
  font-style: italic;
}

footer {
  position: fixed;
  bottom: 0;
}

.link-divider {
  margin: 0 0.3rem;
}

.container {
  margin: 0 0.5rem;
}
